git+https://github.com/KaidiXu/onnx2pytorch@fe7281b9b6c8c28f61e72b8f3b0e3181067c7399#egg=onnx2pytorch
onnxconverter-common
onnxoptimizer
onnxsim
protobuf
skl2onnx
appdirs
bottleneck
certifi
cffi
charset-normalizer
coloredlogs
filelock
humanfriendly
idna
joblib
jinja2
markdown-it-py
numpy
onnx
onnxruntime
packaging
pandas
pillow
pluggy
pre-commit
psutil
pygments
pytest
python-dateutil
pytz
pyyaml
requests
rich
scikit-learn
scipy
six
sympy
tqdm
typing-extensions
virtualenv
wheel
gurobipy
sortedcontainers
graphviz
