absl-py
aiohttp
aiosignal
astunparse
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
coloredlogs
cryptography
filelock
flatbuffers
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
humanfriendly
idna
jinja2
keras
keras-preprocessing
markdown
markupsafe
mkl-service
mpmath
multidict
networkx
numpy
oauthlib
onnx
onnxruntime
opt_einsum
packaging
pillow
pyasn1
pyasn1-modules
pycparser
pyjwt
pyopenssl
pysocks
torch
pyyaml
requests
requests-oauthlib
rsa
scipy
setuptools
six
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
torchvision
typing-extensions
urllib3
werkzeug
wheel
wrapt
yarl

# Pip-only dependencies
contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
protobuf
pyparsing
python-dateutil
scikit-learn
tf2onnx
threadpoolctl

